// Colors
$base-color-1: #9356DC;
$base-color-2: #FF79DA;
$base-color-3: #99E2D0;
$darken-base-color-3: #008766;

$background-color-section: #f6f6f6;
$background-color-element: #ffffff; // Vérifier la pertinence.

// Fonts
$logo-title-font: 'Shrikhand-Regular', cursive, Times;
$text-font: 'Roboto-Regular', Helvetica, Arial, sans-serif;

// Animations
$opacity-duration: 320ms;

// Elements
$ratio-screen-checkbox: calc(100/375);
$ratio-checkbox: calc(100/349);