// Bouton de retour à l'index (Header Page Menu)
.page-header__content__backward {    
    margin: calc($screen-ratio)*8vw calc($screen-ratio)*65vw 0 0; // margin-top: 26px
    width: calc($screen-ratio)*17vw;
    height: calc($screen-ratio)*16vw;
    background-repeat: no-repeat;
    cursor: pointer; // Regrouper avec les autres.
    // background-color: blue;    
}

// Boutons de validation (Page Accueil - Explorer nos restaurants / Page Menu - Commander)
.validate {
    z-index: 1;
    position: relative; // Important pour le fonctionnement de l'effet avec .validate_hover-effect.
    margin: calc($screen-ratio)*50vw 0 0 calc($screen-ratio)*95vw;
    box-shadow: 0px 5px 5px #C5C5C5;
    border: none;
    border-radius: calc($screen-ratio)*33vw; // 33px;
    background: linear-gradient(to bottom, $base-color-2, $base-color-1);    
    height: calc($screen-ratio)*50vw;
    font-family: $text-font;
    color: #ffffff;
    cursor: pointer; // Regrouper avec les autres.

    &__hover-effect {
        position: absolute; /* Important pour le fonctionnement. */
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        opacity: 0;        
        border-radius: calc($screen-ratio)*33vw; // 33px;
        background: linear-gradient(to bottom, lighten($base-color-2, 10), lighten($base-color-1, 10));        
    }
}

#validate-index {
    width: calc($screen-ratio)*218vw; // 218px;    
} // Regrouper et améliorer syntaxe Sass.

#validate-menu {
    width: calc($screen-ratio)*186vw; // 186px;    
} // Regrouper et améliorer syntaxe Sass.

/* $base-color-1: #9356DC;
$base-color-2: #FF79DA; */

// Boutons aside (Page Accueil - Fonctionnement)
.aside-button {
    // width: fit-content;
    .mobile-icon, .list-solid-icon, .store-solid-icon {
        fill: #7e7e7e;
    }
    .mobile-icon {
        width: calc($screen-ratio)*13vw;
        
    }
    .list-solid-icon {
        width: calc($screen-ratio)*16vw;
    }
    .store-solid-icon {
        width: calc($screen-ratio)*18vw;
    }
}