// Général
.page-header__content__backward, .validate, .mobile-icon, .list-solid-icon, .store-solid-icon {
    cursor: pointer;
}

// Bouton de retour à l'index (Header Page Menu)
.backward-button {
    padding: 0;
}

.page-header__content__backward {    
    margin: calc($screen-ratio)*4vw calc($screen-ratio)*65vw 0 0;
    width: calc($screen-ratio)*17vw;    
    
    @include respond-to('medium') {
        margin: calc($medium-screen-ratio)*4vw calc($screen-ratio)*84.5vw 0 0;
        width: calc($medium-screen-ratio)*17vw;       
    }

    @include respond-to('large') {
        margin: calc($large-screen-ratio)*4vw calc($screen-ratio)*15vw 0 0;
        width: calc($large-screen-ratio)*17vw;
        fill: white;        
    }
}

// Boutons de validation (Page Accueil - Explorer nos restaurants / Page Menu - Commander)
.validate {
    z-index: 1;
    position: relative; // Important pour le fonctionnement de l'effet avec .validate_hover-effect.
    margin: calc($screen-ratio)*50vw 0 0 calc($screen-ratio)*70vw; // Default margin for "Explorer nos restaurants" ('small' or mobile phone) in index (Page Menu).    
    border: none;
    border-radius: calc($screen-ratio)*33vw;
    background: linear-gradient(to bottom, $base-color-2, $base-color-1);
    height: calc($screen-ratio)*50vw;
    font-family: $text-font;
    color: $background-color;

    @include box-shadow-small-element;

    @include respond-to('medium') {        
        height: calc($medium-screen-ratio)*50vw;
    }

    @include respond-to('large') {        
        height: calc($large-screen-ratio)*50vw;
    }

    &#validate-index {
        margin: calc($screen-ratio)*35vw 0 0 calc($screen-ratio)*70vw;
        width: calc($screen-ratio)*218vw;
        
        @include respond-to('medium') {
            margin: calc($medium-screen-ratio)*30vw 0 calc($medium-screen-ratio)*10vw calc($medium-screen-ratio)*60vw;
            width: calc($medium-screen-ratio)*218vw;
        }

        @include respond-to('large') {
            margin: 0 0 0 0;
            width: calc($large-screen-ratio)*218vw;
        }
    }
    
    &#validate-menu {        
        margin: calc($screen-ratio)*50vw 0 0 calc($screen-ratio)*90vw; // Léger correctif margin-left par rapport à la valeur par défaut de .validate.
        width: calc($screen-ratio)*186vw;

        @include respond-to('medium') {
            margin: 0 0 0 39%;
            width: calc($medium-screen-ratio)*186vw;
        }

        @include respond-to('large') {
            margin: 2.5% 0 0 39%;
            width: calc($large-screen-ratio)*186vw;            
        }
    }
}

// Boutons aside (Page Accueil - Fonctionnement)
ol li:before {    
    z-index: 1;
    position: relative;
    background-color: $base-color-1;
    border-radius: calc($screen-ratio)*50vw;
    padding: calc($screen-ratio)*10vw calc($screen-ratio)*14vw;
    color: #ffffff;

    @include respond-to('medium') {
        padding: calc($medium-screen-ratio)*10vw calc($medium-screen-ratio)*14vw;        
    }

    @include respond-to('large') {
        padding: calc($large-screen-ratio)*10vw calc($large-screen-ratio)*14vw;        
    }
}

.aside-button {    
    z-index: -1;    
    display: inline-flex;
    margin: 0 0 calc($screen-ratio)*30vw 0;
    border-radius: calc($screen-ratio)*16vw;
    width: calc($screen-ratio)*323%; // % plutôt que vw : réduit le décalage.
    height: calc($screen-ratio)*72vw;
    padding: calc($screen-ratio)*30vw 0 0 calc($screen-ratio)*34vw;
    background-color: $background-color-section;
    transform: translate(-5vw, 2vw); // Rectificatif obligatoire pour éviter un décalage.
    -moz-transform: translate(-4.5vw, 7.5vw); // Correctif pour Mozilla Firefox.

    @include box-shadow-large-element;

    @include respond-to('medium') {
        margin: 0 calc($medium-screen-ratio)*37vw calc($medium-screen-ratio)*37vw 0;
        border-radius: calc($medium-screen-ratio)*16vw;
        width: calc($medium-screen-ratio)*323vw;
        height: calc($medium-screen-ratio)*72vw;
        padding: calc($medium-screen-ratio)*30vw 0 0 calc($medium-screen-ratio)*34vw;
        transform: translate(-1.5vw, 0.8vw); // Rectificatif obligatoire pour éviter un décalage.
        -moz-transform: translate(-2.5vw, 3.5vw); // Correctif pour Mozilla Firefox.
    }

    @include respond-to('large') {
        margin: 0 0 calc($large-screen-ratio)*37vw 0;
        border-radius: calc($large-screen-ratio)*16vw;
        width: calc($large-screen-ratio)*323vw;
        height: calc($large-screen-ratio)*72vw;
        padding: calc($large-screen-ratio)*30vw 0 0 calc($large-screen-ratio)*34vw;
        transform: translate(-1.5vw, 0.8vw); // Rectificatif obligatoire pour éviter un décalage.
        -moz-transform: translate(-1.5vw, 2.3vw); // Correctif pour Mozilla Firefox.
    }   
    
    .mobile-icon, .list-solid-icon, .store-solid-icon {
        position: relative;        
        margin: 0 calc($screen-ratio)*21vw 0 0;
        fill: #7e7e7e;        

        @include respond-to('medium') {
            margin: 0 calc($medium-screen-ratio)*41vw 0 0;
        }

        @include respond-to('large') {
            margin: 0 calc($large-screen-ratio)*41vw 0 0;
        }
    }

    .mobile-icon {
        width: calc($screen-ratio)*13vw;
        transform: translate(0, -1vw); // Correctif spécifique pour être conforme à la maquette.
        -moz-transform: translate(0, -3.7vw); // Impossible de transposer tous les -moz les suivants en mixin.

        @include respond-to('medium') {
            width: calc($medium-screen-ratio)*13vw;
            transform: translate(0, -0.7vw);
            -moz-transform: translate(0, -1.5vw);
        }        

        @include respond-to('large') {
            width: calc($large-screen-ratio)*13vw;
            transform: translate(0, -0.3vw);
            -moz-transform: translate(0, -1vw);
        }        
    }
    
    .list-solid-icon {
        width: calc($screen-ratio)*16vw;
        transform: translate(0, 0); // Déclaration nécessaire pour déclarer un préfixe -moz à la suite. Problems : "Also define the standard property 'transform' for compatibility."
        -moz-transform: translate(0, -3.7vw);

        @include respond-to('medium') {
            width: calc($medium-screen-ratio)*16vw;
            -moz-transform: translate(0, -1.5vw);
        }

        @include respond-to('large') {
            width: calc($large-screen-ratio)*16vw;
            transform: translate(0, -0.1vw);
            -moz-transform: translate(0, -1vw);
        }
    }
    .store-solid-icon {
        width: calc($screen-ratio)*18vw;
        transform: translate(0, 0);
        -moz-transform: translate(0, -3.7vw);

        @include respond-to('medium') {
            width: calc($medium-screen-ratio)*18vw;
            -moz-transform: translate(0, -1.5vw);
        }

        @include respond-to('large') {
            width: calc($large-screen-ratio)*18vw;
            transform: translate(0, -0.1vw);
            -moz-transform: translate(0, -1vw);
        }
    }
}