footer { // Transférer in _layout.
    /* Code avant Media Queries
    background-color: black;
    padding: calc($screen-ratio)*27vw 0 calc($screen-ratio)*37px calc($screen-ratio)*25vw; // Voir la la mesure en px.
    color: #ffffff; // Placer en _fonts. */

    background-color: black;
    padding: calc($screen-ratio)*27vw 0 calc($screen-ratio)*37px calc($screen-ratio)*25vw;

    .logo-footer {
        fill: $background-color;
        width: calc($screen-ratio)*98vw;
    }

    .ustensils-solid-icon, .hands-helping-solid-icon {
        fill: $background-color;
        margin: 0 calc($screen-ratio)*11vw 0 0;
        width: calc($screen-ratio)*11vw;
    }    

    @include respond-to('small') {        
        /* padding: calc($screen-ratio)*27vw 0 calc($screen-ratio)*37px calc($screen-ratio)*25vw;

        .logo-footer {
            width: calc($screen-ratio)*98vw;
        }

        .ustensils-solid-icon, .hands-helping-solid-icon {
            margin: 0 calc($screen-ratio)*11vw 0 0;
            width: calc($screen-ratio)*11vw;
        } */
    }  // Supprimer breakpoint small ? Actualiser les dans les divers fichiers.

    @include respond-to('medium') {
        padding: calc($medium-screen-ratio)*27vw 0 calc($medium-screen-ratio)*37px calc($medium-screen-ratio)*25vw;
        
        .logo-footer {
            margin: 0 0 0 43%;
            width: calc($medium-screen-ratio)*98vw;
        }
        
        ul {
            display: flex;            
            flex-wrap: wrap;

            li {                
                width: 50%;
                padding: 0 0 2% 15%;
            }

            .ustensils-solid-icon, .hands-helping-solid-icon {
                margin: 0 calc($medium-screen-ratio)*11vw 0 0;
                width: calc($medium-screen-ratio)*11vw;
            }

            .icon-less {
                margin: 0 0 0 calc($medium-screen-ratio)*25vw;
            }
        }
    }

    @include respond-to('large') {
        padding: calc($large-screen-ratio)*27vw 0 calc($large-screen-ratio)*37px calc($large-screen-ratio)*25vw;

        .logo-footer {
            margin: 0 0 0 0;
            width: calc($large-screen-ratio)*196vw;
        }
        
        ul {            
            /* display: flex; */
            flex-wrap: nowrap;
            justify-content: space-evenly;
            margin-left: -16.4vw;

            li {                
                width: fit-content;
                padding: 0 0 0 0;
            }

            .ustensils-solid-icon, .hands-helping-solid-icon {
                margin: 0 calc($large-screen-ratio)*11vw 0 0;
                width: calc($large-screen-ratio)*11vw;
            }

            .icon-less {
                margin: 0 0 0 0;
            }
        }   
    }    

    //.logo-footer {
        /* Code avant Media Queries
        width: calc($screen-ratio)*98vw;
        fill: #ffffff; // Créer une variable background-color.
        & :hover {
            fill: linear-gradient(to left, $base-color-3, $base-color-1);
        } */

        /* fill: $background-color;

        @include respond-to('small') {
            width: calc($screen-ratio)*98vw;
        }

        @include respond-to('medium') {
            width: calc($medium-screen-ratio)*98vw;
        }

        @include respond-to('large') {
            width: calc($large-screen-ratio)*196vw;            
        }
    } */

    /* Code avant Media Queries
    .ustensils-solid-icon, .hands-helping-solid {
        margin: 0 calc($screen-ratio)*11vw 0 0;
        width: calc($screen-ratio)*11vw;
        fill: #ffffff; // Créer une variable background-color.
        :hover {
            fill: $base-color-3; // Associer avec le survol du texte.
        }        
    } */    
}