header { // Transférer in _layout.
    // background-color: #7fffd4;
    // padding: calc($screen-ratio)*23vw 0 calc($screen-ratio)*18vw calc($screen-ratio)*105vw;

    /* & .logo {
        // width: fit-content;
        // background-color: red;
    } */

    /* & .logo_ohmyfood {
        width: calc($screen-ratio*165vw);
    } */

    & .logo-header {
        fill: #353535;
        width: calc($screen-ratio*165vw);

        @include respond-to('medium') {            
            width: calc($medium-screen-ratio*300vw);
        }

        @include respond-to('large') {            
            width: calc($large-screen-ratio*165vw);
        }
    }
}

.index-header {
    padding: calc($screen-ratio)*23vw 0 calc($screen-ratio)*18vw calc($screen-ratio)*105vw;

    @include respond-to('medium') {      
        padding: calc($medium-screen-ratio)*23vw 0 calc($medium-screen-ratio)*18vw calc($medium-screen-ratio)*255vw;
    }
    
    @include respond-to('large') {      
        padding: calc($large-screen-ratio)*23vw 0 calc($large-screen-ratio)*18vw 43%; // 40%
    }
}

.page-header {
    padding: calc($screen-ratio)*23vw 0 calc($screen-ratio)*18vw calc($screen-ratio)*23vw;

    & .page-header__content {
        display: inline-flex;
        // background-color: blue;       
    }
}