// Page Accueil (form)
.index-form {

    padding: 0 0 calc($screen-ratio*70vw) 0;

    @include respond-to('medium') {
        padding: 0 0 0 0;
    }

    @include respond-to('large') {
        display: flex;
        margin: 0 0 calc($screen-ratio)*15vw 0;
        padding: 0 0 0 0;
    }

    .place-location {
        background-color: $input-background-color;
        @include inset-shadow;
        height: calc($screen-ratio*50vw);
        padding: 0 0 0 calc($screen-ratio)*104vw;

        @include respond-to('medium') {
            // display: flex;
            height: calc($medium-screen-ratio*50vw);
            padding: 0 0 0 calc($medium-screen-ratio)*50vw;
        }

        @include respond-to('large') {
            display: flex;     
            height: calc($large-screen-ratio*50vw);
            padding: 0 0 0 calc($large-screen-ratio)*150vw;
        }

        .map-marker-alt-solid-icon {
            width: calc($screen-ratio*12vw);
            cursor: pointer;

            @include respond-to('medium') {
                position: relative;
                width: calc($medium-screen-ratio*15vw);
            }

            @include respond-to('large') {
                position: relative;
                top: 25%;
                width: calc($large-screen-ratio*12vw);
            }
        }

        & input {
            background-color: $input-background-color;
            @include inset-shadow;    
            caret-color: $base-color-2;            

            &.search-field {
                width: fit-content;
                height: calc($screen-ratio*50vw);
                padding: 0 0 0 calc($screen-ratio*18vw);                

                @include respond-to('medium') {
                    height: calc($medium-screen-ratio*50vw);
                    padding: 0 0 0 calc($medium-screen-ratio*18vw);
                }

                @include respond-to('large') {
                    height: calc($large-screen-ratio*50vw);
                    padding: 0 0 0 calc($large-screen-ratio*18vw);
                }
            }
        }
    }

    .form-description-validate {
        @include respond-to('medium') {
            display: flex;
        }
    }

    .form-description { 
        padding: calc($screen-ratio*44vw) 0 0 0;        

        @include respond-to('medium') {             
            padding: calc($medium-screen-ratio*40vw) 0 0 0;
        }

        @include respond-to('large') {
            margin:  0 calc($large-screen-ratio*93vw) 0 calc($large-screen-ratio*35vw);     
            padding: 0 0 0 calc($large-screen-ratio*15vw);
        }

        & .form-title {
            margin: 0 calc($screen-ratio*65vw) calc($screen-ratio*22vw) calc($screen-ratio*65vw);
            width: calc($screen-ratio*229vw);

            @include respond-to('medium') {                
                margin: 0 0 calc($medium-screen-ratio*10vw) calc($medium-screen-ratio*40vw);
                width: calc($medium-screen-ratio*450vw);
            }

            @include respond-to('large') {
                margin: 0 0 calc($large-screen-ratio*10vw) calc($large-screen-ratio*30vw);
                width: auto;                
            }
        }
    
        & .form-subtitle {
            margin: 0 calc($screen-ratio)*31vw 0 calc($screen-ratio)*39vw;

            @include respond-to('medium') {
                margin: 0 calc($medium-screen-ratio)*31vw 0 calc($medium-screen-ratio*40vw);
                width: fit-content;
            }

            @include respond-to('large') {
                margin : 0 0 0 calc($screen-ratio)*15vw;
            }
        }
    }
}