/* @font-face {
    font-family: 'Shrikhand-Regular';
    src: url('public/fonts/Shrikhand-Regular.ttf') format('ttf');
} */

/* @font-face {
    font-family: 'Shrikhand-Regular';
    src: url('../fonts/Shrikhand-Regular.woff') format('woff');
} */

.loader {
    position: absolute;    
    width: 375px;
    height: 1675px;    
    /* filter: blur(5px);
    z-index: 1; */
    // background-color: red;
    // opacity: 0.5;
}

// $base-color-1: #9356DC;
// $base-color-2: #FF79DA;
// $base-color-3: #99E2D0;
$circle-radius: 50px;
// $logo-title-font: 'Shrikhand-Regular', sans-serif;

.loader-circles {
    // margin: 0px 0px 20px 0px;
    width: 375px;
    height: 375px;
    padding: 45% 0px 0px 0px;
    // background-color: yellowgreen;
}

.circle {
    display: inline-flex;
    width: $circle-radius;
    height: $circle-radius;
    border-radius: 50%;
    padding: 13px 0px 0px 0px;
    justify-content: center;
    // vertical-align: middle;
    font-family: 'Shrikhand-Regular', cursive, serif;   
}

$loader-element-shadow: 0px 0px 4px $base-color-1;

#circle-01 {
    background-color: $base-color-1;
    color: $base-color-3;
    border: solid 3px $base-color-3;
    box-shadow: $loader-element-shadow;
    // z-index: 1;
    transform: translate(-45px, 0px);
}

#circle-02 {
    background-color: $base-color-3;
    color: $base-color-2;
    border: solid 3px $base-color-2;
    box-shadow: $loader-element-shadow;
    // z-index: 2;
    transform: translate(-110px, 0px); 
}

#circle-03 {
    background-color: $base-color-2;
    color: $base-color-1;
    border: solid 3px $base-color-1;
    box-shadow: $loader-element-shadow;
    // z-index: 3;
    transform: translate(-160px, 0px);
}

.progress-bar {
    height: 40px;
    padding: 10px 0px 0px 15px;
    // background-color: orange;
}

.progress-bar-border {
    width: 345px;
    height: 20px;
    background: $base-color-1;
    background-color: #99E2D0;
    border: solid 2px $base-color-1;
    box-shadow: $loader-element-shadow;
    border-radius: 2px;
    // margin: 50px;
}

.progress-bar-load {
        width: 10px;
        height: 10px;        
        margin: 3px 0px 0px 4px;
        // width: 100%;
        background: linear-gradient(to left, $base-color-2, $base-color-1);
        // background: linear-gradient(to left, $base-color-2, $base-color-3);
        
        // margin: 10px 0px 0px 20px;
       //  margin: auto;
        // transform: translate(10px, -3px);
        // margin-top: 3px;
        /* transform-origin: 0%; /* 0% : left ; 50% : center ; 100% : right ; possibilité d'ajouter une seconde valeur */
        /* transform: scaleX(0);
        transition: transform 2000ms cubic-bezier(.32,0,.07,1); */    
}

 /* #loader-welcome-text {    
    // background-color: coral;
    padding: 10px 0px 0px 100px;
    font-family: 'Shrikhand-Regular', cursive, serif;
    text-shadow: -1px 1px 2px $base-color-2;
    // text-justify: center;
} */

.loader-text {    
    // background-color: coral;
    padding: 10px 0px 0px 100px;
    font-family: 'Shrikhand-Regular', cursive, serif;
    color: $base-color-1;
    text-shadow: -1px 1px 2px $base-color-2;
    // text-justify: center;
}

#dot-01 {
    color: $base-color-1;
}


#dot-02 {
    color: $base-color-3;
}


#dot-03 {
    color: $base-color-2;
}
// .loader span {
    // color: #99E2D0;
    // background: linear-gradient(to left, $base-color-2, $base-color-1);
// }

// body {
    // filter: blur(7px);
// }