$background-color-element: #ffffff; /* A voir si pertinent */

/* Syntaxe combinateur parent > enfant */
/* Syntaxe combinateur descendant (.ascendant .descendant). */

.menu-checkbox {    
    margin: 0px 0px 13px 0px; 
    width: 349px;
    height: 69px;
    background-color: $background-color-element;
    box-shadow: 0 4px 8px 0 #d9d9d9;
    border-radius: 13px;
    overflow: hidden;
}

.menu-checkbox-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
    width: 349px;
    max-height: 69px;
    white-space: nowrap;
    cursor: pointer;
}

.menu-checkbox-body-title {
    width: 290px;
    height: 35px;
    padding: 13px 0px 0px 11px; // Problème avec le padding-bottom, comme dans restaurant-card.
    overflow: hidden;
    text-overflow: ellipsis;   
}

.menu-checkbox-body-subtitle {      
    width: 290px;
    height: 34px;
    padding: 0px 0px 0px 11px;  
    overflow: hidden;
    text-overflow: ellipsis;    
}

.menu-checkbox-body-price {
    width: 59px;
    height: 69px;
    padding: 42px 0px 0px 11px; /* Ajuster en fonction de la maquette et de la police. padding-bottom: 13; */
    font-weight: bolder;   
}

.menu-checkbox-body-toggle {    
    width: 59px;
    height: 69px;
    background-color: $base-color-3;
    border: none;
    border-radius: 0px 13px 13px 0px;
    padding-left: 19px;
    cursor: pointer;
}

.check {
    width: 20px;
    height: 20px;
    background-color: $background-color-element;
    border-radius: 50px;
    padding: 3px;    
}

.check-solid-icon {
    width: 12px;
    background-color: $background-color-element;    
}