.restaurant__menu__body__item {
    margin: 0 calc($screen-ratio*6vw) calc($screen-ratio*14vw) calc($screen-ratio*12vw); // Ajustement des marges droites et gauches pour éviter l'apparition d'une barre de défilement en bas. Fonctionne avec la mise en % de la width au lieu de vw.    
    width: calc($screen-ratio*349%); // Utilisation de % au lieu de vw, avec un ajustement de margin, pour éviter la barre de défilement horizontale.
    height: calc($screen-ratio*69vw);

    @include respond-to('medium') {        
        width: 90%; // Utilisation de % au lieu de vw, avec ajustement de margin, pour éviter la barre de défilement horizontale.
        height: calc($medium-screen-ratio*75vw);
    }

    @include respond-to('large') {        
        margin: 0;
        width: 85%; // margin et width écrasent le conteneur.
        height: calc($large-screen-ratio*69vw);        
    }

    // L'animation .restaurant__menu__body__item__checkbox__body__title et .restaurant__menu__body__item__checkbox__body__subtitle fonctionne à ce niveau et au-dessus.
    
    .restaurant__menu__body__item__checkbox__body__title {
        width: calc($checkbox-ratio*290%);
        height: 50%;
        padding: calc($checkbox-ratio*13%) 0 0 calc($checkbox-ratio*11%); // Utilisation de padding plutôt qu'un positionnement top/left (ce dernier décale l'ellipsis).

        @include respond-to('medium') {
            padding: calc($checkbox-ratio*10%) 0 0 calc($checkbox-ratio*11%);            
        }

        @include respond-to('large') {
            padding: calc($checkbox-ratio*13%) 0 0 calc($checkbox-ratio*11%);            
        }
    }
    
    .restaurant__menu__body__item__checkbox__body__subtitle {      
        width: calc($checkbox-ratio*290%);
        height: 50%;
        padding: 0 0 0 calc($checkbox-ratio*11%); // Utilisation de padding plutôt qu'un positionnement top/left (ce dernier décale l'ellipsis).
    }
    
    .restaurant__menu__body__item__checkbox {        
        height: 100%;        
        background-color: $background-color-element;        
        border-radius: calc($screen-ratio*13vw);
        overflow: hidden;
        
        @include box-shadow-intermediate-element;        

        @include respond-to('medium') {            
            border-radius: calc($medium-screen-ratio*13vw);
        }

        @include respond-to('large') {            
            border-radius: calc($large-screen-ratio*13vw);
        }

        // L'animation .restaurant__menu__body__item__checkbox__body__title et .restaurant__menu__body__item__checkbox__body__subtitle ne marche pas à ce niveau.
        
        .restaurant__menu__body__item__checkbox__body {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;            
            height: 100%;
            cursor: pointer;           

            // L'animation .restaurant__menu__body__item__checkbox__body__title et .restaurant__menu__body__item__checkbox__body__subtitle ne marche pas à ce niveau.
            
            .restaurant__menu__body__item__checkbox__body__price {
                width: calc($checkbox-ratio*59.1%); // Rajout de 0.1% pour éviter de voir très légèrement la couleur du toggle quand la dimension de la fenêtre du browser est réduite au minimum.                
                height: 100%; // 69px;
                padding: 10% 0 0 calc($checkbox-ratio*11%);
                
                .price {
                    width: fit-content;
                }
            }

            .restaurant__menu__body__item__checkbox__body__toggle {
                width: calc($checkbox-ratio*59%);
                height: 100%;
                background-color: $base-color-3;
                border: none;
                padding: 0 0 0 calc($checkbox-ratio*19%);
                pointer-events: none;

                @include respond-to('large') {}

                .restaurant__menu__body__item__checkbox__body__toggle__check {
                    position: relative;
                    top: 35%;
                    width: calc((100%/59)*20)+14.5%; // Correctif pour obtenir un carré par rapport à la hauteur.
                    height: 28.98%;
                    background-color: $background-color-element;
                    border-radius: 55%;

                    .restaurant__menu__body__item__checkbox__body__toggle__check-solid-icon {
                        position: absolute;
                        top: 20%;
                        right: 19%;
                        width: 60%;
                        background-color: $background-color-element;
                    }
                }
            }
        }        
    }
}