// Page Accueil (index : main > section > article)
.restaurant-card {
    margin: 0 0 calc($screen-ratio)*18vw 0;
    width: calc($screen-ratio)*335vw;
    height: calc($screen-ratio)*251vw;
    border-radius: calc($screen-ratio)*11vw;

    @include box-shadow-large-element;

    @include respond-to('medium') {
        margin: 0 0 calc($medium-screen-ratio)*18vw 0;
        width: calc($medium-screen-ratio)*385vw;
        height: calc($medium-screen-ratio)*288vw;
        border-radius: calc($medium-screen-ratio)*11vw;
        box-shadow: 0 calc($medium-screen-ratio)*4vw calc($medium-screen-ratio)*8vw calc($medium-screen-ratio)*4vw #d9d9d9;
    }

    @include respond-to('large') {
        margin: 0 calc($large-adjustment-ratio)*18vw calc($large-adjustment-ratio)*18vw 0;
        width: calc($large-adjustment-ratio)*335vw; // Changer la taile pour adapter en row.
        height: calc($large-adjustment-ratio)*251vw;
        border-radius: calc($large-screen-ratio)*11vw;
        box-shadow: 0 calc($large-screen-ratio)*4vw calc($large-screen-ratio)*8vw calc($large-screen-ratio)*4vw #d9d9d9;
    }

    .restaurant-card-image {    
        height: calc($screen-ratio)*174vw;
        border-radius: calc($screen-ratio)*11vw calc($screen-ratio)*11vw 0 0;
        overflow: hidden;    
    
        @include respond-to('medium') {
            height: calc($medium-screen-ratio)*199vw;
            border-radius: calc($medium-screen-ratio)*11vw calc($medium-screen-ratio)*11vw 0 0;
        }
    
        @include respond-to('large') {
            height: calc($large-adjustment-ratio)*174vw;
            border-radius: calc($large-screen-ratio)*11vw calc($large-screen-ratio)*11vw 0 0;
        }

        & img {    
            position: relative;    
            transform: translate(-50%, -50%);    
            transition: width 900ms 100ms ease-in-out;
        }

        #la_palette_du_gout {
            top: 33.5%;
            left: 50.2%;
            width: 103.5%;
        }
        
        #la_note_enchantee{
            top: 35%;
            left: 50%;
            width: 102%;
        }
        
        #a_la_francaise {
            top: 33.5%;
            left: 50%;
            width: 103%;
        }
        
        #le_delice_des_sens {
            top: 33%;
            left: 50%;  
            width: 102%;
        }        
    }

    .restaurant-card-body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: calc($screen-ratio)*335vw;
        height: calc($screen-ratio)*77vw;
        
        @include respond-to('medium') {
            width: calc($medium-screen-ratio)*385vw;
            height: calc($medium-screen-ratio)*88vw;
        }
    
        @include respond-to('large') {
            width: calc($large-adjustment-ratio)*335vw;
            height: calc($large-adjustment-ratio)*77vw;
        }

        .restaurant-card-body-title {
            height: 50%;
            width: calc($screen-ratio)*288vw;
            padding: 0 0 0 calc($screen-ratio)*14vw;    
        
            @include respond-to('medium') {
                width: calc($medium-screen-ratio)*331vw;
                padding: 0 0 0 calc($medium-screen-ratio)*16vw;
            }
        
            @include respond-to('large') {
                width: calc($large-adjustment-ratio)*288vw;
                padding: 0 0 0 calc($large-adjustment-ratio)*14vw;
            }
        }

        .restaurant-card-body-place {
            height: 50%;
            width: calc($screen-ratio)*288vw;
            padding: 0 0 0 calc($screen-ratio)*14vw;    
        
            @include respond-to('medium') {
                width: calc($medium-screen-ratio)*331vw;
                padding: 0 0 0 calc($medium-screen-ratio)*16vw;
            }
        
            @include respond-to('large') {
                width: calc($large-adjustment-ratio)*288vw;
                padding: 0 0 0 calc($large-adjustment-ratio)*14vw;
            }
        }
    }
}

.restaurant-body-heart-choice {
    background: no-repeat;
    margin: calc($screen-ratio)*23vw 0 0 0;
    width: calc($screen-ratio)*23vw;    

    @include respond-to('medium') {
        margin: calc($medium-screen-ratio)*26vw 0 0 0;
        width: calc($medium-screen-ratio)*26vw;
    }

    @include respond-to('large') {
        margin: calc($large-adjustment-ratio)*23vw 0 0 0;
        width: calc($large-adjustment-ratio)*23vw;
    }
}