$opacity-duration: 320ms;

// Animation - Page Menu - Sélection d'un plat
.menu-item {    
    /* Dissimulation de la case à cocher checkbox.
    Placer dans .menu-checkbox-body-toggle ? Si oui, attention au décalage de l'icône. */
    & input {
        opacity: 0; 
    }    

    &:hover .check-solid-icon {        
        animation: item-checked 600ms forwards;
    }
    
    &:hover .menu-checkbox-body-title {
        width: 231px;
    }
    &:hover .menu-checkbox-body-subtitle {        
        width: 231px;
    }
}

.menu-checkbox-body-title {    
    transition: width 600ms cubic-bezier(0.32, 0, 0.07, 1);
}

.menu-checkbox-body-subtitle {
    transition: width 600ms cubic-bezier(0.32, 0, 0.07, 1);    
}


@keyframes item-checked {
    100% {
        transform: rotate(360deg);        
    }
}

// Animation - Page Menu - Apparition progressive
.menu-item {
        animation: restaurant-menu-translate 800ms 100ms ease-out forwards;
    }

#menu-checkbox-01 {
    opacity: 0;   
    animation: restaurant-menu-opacity $opacity-duration 100ms ease-in forwards;
}

#menu-checkbox-02 {
    opacity: 0;    
    animation: restaurant-menu-opacity $opacity-duration 260ms ease-in forwards;
}

#menu-checkbox-03 {
    opacity: 0;    
    animation: restaurant-menu-opacity $opacity-duration 420ms ease-in forwards;
}

@keyframes restaurant-menu-translate {
    0% {        
        margin: 0px 0px 20px 0px;
        transform: translate(0px, 7px);   
    }
    100% {    
        margin: 0px 0px 13px 0px;
        transform: translate(0px, 0px);       
    }
}

@keyframes restaurant-menu-opacity {
    0% {
        opacity: 0;
        
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}