$opacity-duration: 320ms;

// Animation - Général - Boutons validation
$base-color-1: #9356DC;
$base-color-2: #FF79DA; /* Faire fonctionner à partir de _variables. */
.validate {
    transition: box-shadow 450ms, transform 350ms;    

    &:hover {
        box-shadow: 0px 5px 5px darken(#C5C5C5, 5);
        & .validate__hover-effect {
            opacity: 1;
        }
    }

    &__hover-effect {
        transition: opacity 350ms ease-in-out;
    }

    &:active {
        transform: scale(0.95);
    }
}

// Animation - Page accueil - Loader
body {
    animation: body-fade-in 3000ms forwards;
}

@keyframes body-fade-in {
    100% {
        filter: blur(0);
    }
}

.loader {    
    animation: loader-animation 3000ms forwards;
}

/* @keyframes loader-animation {
    99% {
        opacity: 0.99;
    }
    100% {
        opacity: 0;
    }

} */

#circle-01 {
    animation: circle-01-translate 1000ms forwards;    
}

@keyframes circle-01-translate {
    /* 0% {
        transform: translate(-50px);
    } */

    0%, 99% {
        transform: scaleX(1.2);
    }

    50% {
        transform: translate(300px) scaleY(1.2);
    }

    81%, 83%, 85%, 87%, 89%, 91%, 93%, 95%, 97%, 99% {
        transform: translate(95px) scaleX(.95);
    }

    80%, 82%, 84%, 86%, 88%, 90%, 92%, 94%, 96%, 98%, 100% {
        transform: translate(100px) scaleX(1);
    }    
}

#circle-02 {
    animation: circle-02-translate 1000ms 500ms forwards;    
}

@keyframes circle-02-translate {
    /* 0% {
        transform: translate(-100px);
    } */

    0%, 99% {
        transform: scaleX(1.2);
    }

    50% {
        transform: translate(250px) scaleY(1.2);
    }
    81%, 83%, 85%, 87%, 89%, 91%, 93%, 95%, 97%, 99% {
        transform: translate(95px) scaleX(.95);
    }

    80%, 82%, 84%, 86%, 88%, 90%, 92%, 94%, 96%, 98%, 100% {
        transform: translate(100px) scaleX(1);
    }
    
    /* 81%, 83%, 85%, 87%, 89%, 91%, 93%, 95%, 97%, 99% {
        transform: scaleX(.80);
        transform-origin: center;
    }

    80%, 82%, 84%, 86%, 88%, 90%, 92%, 94%, 96%, 98%, 100% {
        transform: scaleX(1);
        transform-origin: center;
    } */
}

#circle-03 {
    animation: circle-03-translate 1000ms 1000ms forwards;    
}

@keyframes circle-03-translate {
    /* 0% {
        transform: translate(-180px);
    } */

    0%, 99% {
        transform: scaleX(1.2);
    }

    50% {
        transform: translate(190px) scaleY(1.2);
    }
    
    81%, 83%, 85%, 87%, 89%, 91%, 93%, 95%, 97%, 99% {
        transform: translate(95px) scaleX(.95);
    }

    80%, 82%, 84%, 86%, 88%, 90%, 92%, 94%, 96%, 98%, 100% {
        transform: translate(100px) scaleX(1);
    }
}

.progress-bar-load {       
        transform-origin: 0%; /* 0% : left ; 50% : center ; 100% : right ; possibilité d'ajouter une seconde valeur */        
        animation: progress-bar-animation 2000ms cubic-bezier(.32,0,.07,1) forwards;
}

@keyframes progress-bar-animation {
    0% {
        transform: scaleX(0%);
        // opacity: 1;
    }
    100% {
        transform: scaleX(3330%);
        // opacity: 0.3;
    }
}

#dot-01 {
    animation: twinkle 3000ms;
}

@keyframes twinkle {
    0%, 100% {
        opacity: 1;
    }
}

// Animation - Page Menu - Sélection d'un plat
.menu-item {    
    /* Dissimulation de la case à cocher checkbox.
    Placer dans .menu-checkbox-body-toggle ? Si oui, attention au décalage de l'icône. */
    & input {
        opacity: 0; 
    }    

    &:hover .check-solid-icon {        
        animation: item-checked 600ms forwards;
    }
    
    &:hover .menu-checkbox-body-title {
        width: 231px;
    }
    &:hover .menu-checkbox-body-subtitle {        
        width: 231px;
    }
}

.menu-checkbox-body-title {    
    transition: width 600ms cubic-bezier(0.32, 0, 0.07, 1);
}

.menu-checkbox-body-subtitle {
    transition: width 600ms cubic-bezier(0.32, 0, 0.07, 1);    
}


@keyframes item-checked {
    100% {
        transform: rotate(360deg);        
    }
}

// Animation - Page Menu - Apparition progressive
.menu-item {
        animation: restaurant-menu-translate 800ms 100ms ease-out forwards;
    }

#menu-checkbox-01 {
    opacity: 0;   
    animation: restaurant-menu-opacity $opacity-duration 100ms ease-in forwards;
}

#menu-checkbox-02 {
    opacity: 0;    
    animation: restaurant-menu-opacity $opacity-duration 260ms ease-in forwards;
}

#menu-checkbox-03 {
    opacity: 0;    
    animation: restaurant-menu-opacity $opacity-duration 420ms ease-in forwards;
}

@keyframes restaurant-menu-translate {
    0% {        
        margin: 0px 0px 20px 0px;
        transform: translate(0px, 7px);   
    }
    100% {    
        margin: 0px 0px 13px 0px;
        transform: translate(0px, 0px);       
    }
}

@keyframes restaurant-menu-opacity {
    0% {
        opacity: 0;
        
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

// Ajouter un délai pour les catégories Plats et Desserts.