/* Logo et titres */
@font-face {
    font-family: 'Shrikhand-Regular', serif, cursive;
    src: url('public/fonts/Shrikhand-Regular.ttf') format('ttf');
}

/* Texte */
@font-face {
    font-family: 'Roboto-Regular', sans-serif;
    src: url('public/fonts/Roboto-Regular.ttf') format('ttf');
}
@font-face {
    font-family: 'Roboto-Bold', sans-serif;
    src: url('public/fonts/Roboto-Bold.ttf');
}