// Fonts - Général - Logo et titres
@font-face {
    font-family: 'Shrikhand-Regular'; //, cursive, serif;
    src: url('../fonts/Shrikhand-Regular.woff') format('woff');
}

// Fonts - Général - Texte
@font-face {
    font-family: 'Roboto-Regular'; //, sans-serif;
    src: url('../fonts/Roboto-Regular.woff') format('woff');
}

form, aside, main, footer, .restaurant__menu__body__entry {
    font-family: $text-font;
}

// Fonts - Page Accueil - Loader
.loader-text-top {
    font-family: $logo-title-font;
    font-size: calc($screen-ratio)*16vw;
    color: $base-color-1;
    text-align: center;
    text-shadow: calc($screen-ratio)*-1vw calc($screen-ratio)*1vw calc($screen-ratio)*2vw $base-color-3;    

    @include respond-to('medium') {
        font-size: calc($medium-screen-ratio)*24vw;
    }

    @include respond-to('large') {
        font-size: calc($large-screen-ratio)*23vw;
    }
}

.loader-text-bottom {
    font-family: $logo-title-font;
    font-size: calc($screen-ratio)*16vw;
    color: $base-color-1;
    text-align: center;
    text-shadow: calc($screen-ratio)*-1vw calc($screen-ratio)*1vw calc($screen-ratio)*2vw $base-color-2;    

    @include respond-to('medium') {
        font-size: calc($medium-screen-ratio)*24vw;
    }

    @include respond-to('large') {
        font-size: calc($large-screen-ratio)*23vw;
    }
}

.circle {
    font-family: $logo-title-font;
    font-size: calc($screen-ratio)*16vw;
}

.spinner-circles {
    font-family: $logo-title-font;
    font-size: calc($large-screen-ratio)*16vw;

    #spinner-circle-01 {        
        color: $base-color-3;
    }

    #spinner-circle-02 {
        color: $base-color-2;
    }

    #spinner-circle-03 {        
        color: $base-color-1;
    }
}

#loader-circle-01 {
    font-size: calc($medium-screen-ratio)*16vw;
    color: $base-color-3;
}

#loader-circle-02 {
    font-size: calc($medium-screen-ratio)*16vw;
    color: $base-color-2;
}

#loader-circle-03 {
    font-size: calc($medium-screen-ratio)*16vw;
    color: $base-color-1;
}

// Fonts - Page Accueil - Formulaire (form > label location)

input[type="search"] {
    
    font-size: calc($screen-ratio)*11.7vw;
    font-weight: bold;

    @include respond-to('medium') {
        font-size: calc($medium-screen-ratio)*11.7vw;   
    }

    @include respond-to('large') {
        font-size: calc($large-screen-ratio)*11.7vw;        
    }
}

.form-description {
    text-align: center;

    @include respond-to('medium') {
        text-align: left;
    }

    @include respond-to('large') {
        text-align: center;
    }
}

.form-title {
    font-size: calc($screen-ratio)*20vw;    

    @include respond-to('medium') {
        font-size: calc($screen-ratio)*10vw;
    }

    @include respond-to('large') {
        font-size: calc($screen-ratio)*4.7vw;
    }
}

.form-subtitle {
    font-size: calc($screen-ratio)*15vw;
    
    @include respond-to('medium') {
        font-size: calc($medium-screen-ratio)*14vw;
    }

    @include respond-to('large') {
        font-size: calc($large-screen-ratio)*13vw;
    }
}

// Fonts - Page Accueil - Aside (title)
.aside-title {
    font-size: calc($screen-ratio)*15vw;
    
    @include respond-to('medium') {
        font-size: calc($medium-screen-ratio)*16vw;
    }

    @include respond-to('large') {
        font-size: calc($large-screen-ratio)*11vw;
    }
}

// Fonts - Page Accueil - Aside (buttons)
// Numération
ol li:before {
    font-size: calc($screen-ratio)*11vw;
    
    @include respond-to('medium') {
        font-size: calc($medium-screen-ratio)*11vw;        
    }

    @include respond-to('large') {
        font-size: calc($large-screen-ratio)*11vw;        
    }
}

// Texte
li button {
    font-size: calc($screen-ratio)*12vw;
    font-weight: bold;

    @include respond-to('medium') {
        font-size: calc($medium-screen-ratio)*15vw;
    }

    @include respond-to('large') {
        font-size: calc($large-screen-ratio)*12vw;
    }
}

// Fonts - Page Accueil - Titre (main > section)
.restaurants_section-title {
    font-size: calc($screen-ratio)*17vw;

    @include respond-to('medium') {
        font-size: calc($medium-screen-ratio)*24vw;
    }
    
    @include respond-to('large') {
        font-size: calc($large-screen-ratio)*17vw;
    }
}

// Fonts - Page Accueil - Restaurant Card (main > section > article)
.restaurant-card-body-title {    
    font-size: calc($screen-ratio)*13vw;
    
    a {
        color: black; // Empêche l'apparition du texte bleu dans Firefox.
    }
    
    a:visited {
        color: black;
    }

    @include respond-to('medium') {
        font-size: calc($medium-screen-ratio)*15vw;
    }

    @include respond-to('large') {
        font-size: calc($large-screen-ratio)*13vw;
    }
}

.restaurant-card-body-place {
    font-size: calc($screen-ratio)*12vw;

    @include respond-to('medium') {
        font-size: calc($medium-screen-ratio)*15vw;
    }

    @include respond-to('large') {
        font-size: calc($large-screen-ratio)*12vw;
    }
}

.new-stamp {
    font-size: calc($screen-ratio)*14vw;
    font-weight: bold;
    color: $darken-base-color-3;    
    text-align: center;    

    @include respond-to('medium') {
        font-size: calc($medium-screen-ratio)*14vw;
    }

    @include respond-to('large') {
        font-size: calc($large-screen-ratio)*14vw;
    }
}

// Fonts - Page Menu - Entries (main > form > ul > li) 
.restaurant__menu__body__entry {    
    font-size: calc($screen-ratio)*12vw;
    
    @include respond-to('medium') {
        font-size: calc($medium-screen-ratio)*18vw;        
    }

    @include respond-to('large') {
        font-size: calc($large-screen-ratio)*12vw;
    }
}

// Fonts - Page Menu - Restaurant Menu (card)
.restaurant__menu__body__title {
    font-size: calc($screen-ratio)*18vw;
    font-family: $logo-title-font;

    @include respond-to('medium') {
        font-size: calc($medium-screen-ratio)*18vw;
    }

    @include respond-to('large') {
        font-size: calc($large-screen-ratio)*18vw;
    }
}

.restaurant__menu__body__item__checkbox__body {               
    font-family: $text-font;

    .restaurant__menu__body__item__checkbox__body__title {    
        font-size: calc($screen-ratio*13vw);    
    
        @include respond-to('medium') {
            font-size: calc($medium-screen-ratio*18vw);
        }
    
        @include respond-to('large') {
            font-size: calc($large-screen-ratio*13vw);        
        }
    
        @include ellipsis;
    
        & h3 {            
            display: inline; // Restaure le fonctionnement de text-overflow: ellipsis; quand le conteneur est en valeur relative.
        }
    }
    
    .restaurant__menu__body__item__checkbox__body__subtitle {
        font-size: calc($screen-ratio*11vw);
    
        @include respond-to('medium') {
            font-size: calc($medium-screen-ratio*16vw);
        }
    
        @include respond-to('large') {
            font-size: calc($large-screen-ratio*11vw);
        }
    
        @include ellipsis; // + display: inline; appliqué au texte pour le fonctionnement d'ellipsis en valeur relative.
    
        & p {
            display: inline; // Restaure le fonctionnement de text-overflow: ellipsis; quand le conteneur est en valeur relative.
        }
    }

    .restaurant__menu__body__item__checkbox__body__price {        
        font-size: calc($screen-ratio*11vw);
        font-weight: bold;
        
        @include respond-to('medium') {
            font-size: calc($medium-screen-ratio*16vw);
        }

        @include respond-to('large') {
            font-size: calc($large-screen-ratio*11vw);
        }
    }
}

// Fonts - Général - Footer + Button (validate) & Page Accueil - Formulaire (location)
footer, .validate, ::placeholder {    
    font-size: calc($screen-ratio)*14vw;
    
    @include respond-to('medium') {
        font-size: calc($medium-screen-ratio)*16vw;
    }

    @include respond-to('large') {
        font-size: calc($large-screen-ratio)*12vw;
    }
}

::placeholder {
    font-weight: bold;
    color: black;
    opacity: 1; // Pour Firefox.
}

// Fonts - Footer
footer {
    line-height: 200%;

    li a, a:visited {
        color: $background-color;    
    } // li a : empêche l'apparition du texte bleu dans Firefox.

    li a:hover {
        color: $base-color-3;
    
        .ustensils-solid-icon, .hands-helping-solid-icon {
            fill: $base-color-3;
        }    
    }
}