// Logo et titres
@font-face {
    font-family: 'Shrikhand-Regular'; //, cursive, serif;
    src: url('../fonts/Shrikhand-Regular.woff') format('woff');
}

// Texte
@font-face {
    font-family: 'Roboto-Regular'; //, sans-serif;
    src: url('../fonts/Roboto-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Roboto-Bold'; //, sans-serif;
    src: url('../fonts/Roboto-Bold.woff') format('woff');
}