p {
    margin: 0;
} // Correct the default padding-top in Firexfox and from "user agent stylesheet" in Google Chrome (display: block;).

input {
    border: none;    
    outline: none;
}

button {
    border: none;
    background-color: transparent;
}

ol {
    margin-block-start: -1em;
    margin-block-end: -1em;
} // Annule user agent stylesheet de Google Chrome.