$base-color-1: #9356DC;
$base-color-2: #FF79DA;
$base-color-3: #99E2D0;

$background-color-section: #f6f6f6;
$background-color-element: #ffffff;


$logo-title-font: 'Shrikhand-Regular';
$text-font: 'Roboto-Regular';