aside {
    margin: calc($screen-ratio)*10vw 0 0 0;
    padding: 0 0 calc($screen-ratio)*80vw calc($screen-ratio)*21vw;

    @include respond-to('medium') {
        margin: calc($medium-screen-ratio)*30vw 0 0 0;
        padding: 0 0 calc($medium-screen-ratio)*50vw calc($medium-screen-ratio)*21vw;

        ol {
            display: flex;
            flex-wrap: wrap;
        }
    }

    @include respond-to('large') {
        margin: 0 0 calc($screen-ratio)*10vw 0;
        padding: 0 0 0 calc($large-screen-ratio)*15vw;

        ol {
            justify-content: space-evenly;            
        }
    }

    .aside-title {
        margin: 0 0 calc($screen-ratio)*34vw 0;

        @include respond-to('medium') {
            margin: 0 0 calc($medium-screen-ratio)*34vw calc($medium-screen-ratio)*173vw;
            width: fit-content;
            border-bottom: solid calc($medium-screen-ratio)*3vw $base-color-3;
        }

        @include respond-to('large') {
            margin: 0 0 calc($large-screen-ratio)*34vw 44%;            
            border-bottom: solid calc($large-screen-ratio)*3vw $base-color-3;
        }
    }
}